*.example               text eol=lf
*.go                    text eol=lf
*.html                  text eol=lf
*.java                  text eol=lf
*.json                  text eol=lf
*.md                    text eol=lf
*.sh                    text eol=lf
*.txt                   text eol=lf
*.yaml                  text eol=lf
*.yml                   text eol=lf
.gitattributes          text eol=lf
.gitignore              text eol=lf
.swagger-codegen-ignore text eol=lf
Dockerfile              text eol=lf
go.mod                  text eol=lf
go.sum                  text eol=lf